<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Acerca de</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <p style="text-align: center;"><strong>CONTACTOS</strong></p>
    <p style="text-align: left;">
      Esta primera versi&oacute;n de Appmenazas recoge los resultados de una larga, pero siempre inacabada e incompleta
      revisi&oacute;n de fuentes de informaci&oacute;n disponibles sobre los tipos y niveles de amenazas urbanas que han sido
      identificadas para las ciudades que aqu&iacute; se incluyen.
    </p>
    <p style="text-align: left;">
      En sinton&iacute;a con lo anterior son bienvenidos todos los comentarios y aportes que pudieran propiciar correcciones y/o
      mejoras a la informaci&oacute;n que aqu&iacute; se presenta, los cuales pueden ser enviados a las siguientes direcciones de
      contacto:
    </p>
    <p>Sobre contenidos:</p>
    <p style="padding: 0px; padding-left: 30px;">Centro de Investigación en Gestión Integral de Riesgos (CIGIR)</p>
    <p style="padding: 0px; padding-left: 30px;"><a href="mailto:contacto@cigir.org.ve">contacto@cigir.org.ve</a></p>
    <p>Sobre dise&ntilde;o, computaci&oacute;n y desarrollo:</p>
    <p style="padding: 0px; padding-left: 30px;">
      Laboratorio de Sistemas de Información Geográfica y Modelado Ambiental (LSIGMA)&nbsp;
    </p>
    <p style="padding: 0px; padding-left: 30px;"><a href="mailto:lsigma@usb.ve">lsigma@usb.ve</a></p>
    <p style="padding-left: 30px;">&nbsp;</p>
    <p style="text-align: center;"><strong>CON EL APOYO DE</strong></p>
    <div class="toolbar">
      <img class="toolbar-element" src="/assets/pnud.png" />
    </div>
    <div class="toolbar">
      <img class="toolbar-element" src="/assets/total.png" />
    </div>
    <p style="text-align: left;">&nbsp;</p>
    <p style="text-align: center;"><strong>TERMINOS Y CONDICIONES APP AMENAZAS</strong></p>
    <p>INFORMACI&Oacute;N GENERAL</p>
    <p style="text-align: left;">
      Esta aplicaci&oacute;n m&oacute;vil es operada por LSIGMA-CIGIR. En todo el sitio, los t&eacute;rminos
      &ldquo;nosotros&rdquo;, &ldquo;nos&rdquo; y &ldquo;nuestro&rdquo; se refieren a LSIGMA-CIGIR.
    </p>
    <p style="text-align: left;">
      Al hacer uso de esta aplicaci&oacute;n, participas en nuestro &ldquo;Servicio&rdquo; y aceptas los siguientes
      t&eacute;rminos y condiciones, incluidos todos los t&eacute;rminos y condiciones adicionales y las pol&iacute;ticas a las
      que se hace referencia en el presente documento y/o disponible a trav&eacute;s de hiperv&iacute;nculos.
    </p>
    <p style="text-align: left;">
      Al acceder o utilizar cualquier parte del sitio, est&aacute;s aceptando los T&eacute;rminos de Servicio.
    </p>
    <p>SECCI&Oacute;N 1 - CONDICIONES GENERALES</p>
    <p style="text-align: left;">
      Est&aacute;s de acuerdo con no reproducir, duplicar, copiar, vender, revender o explotar cualquier parte del Servicio, usp
      del Servicio, o acceso al Servicio o cualquier contacto en la aplicaci&oacute;n a trav&eacute;s del cual se presta el
      servicio, sin el expreso permiso por escrito de nuestra parte.
    </p>
    <p>SECCI&Oacute;N 2 &ndash; LICENCIA</p>
    <p style="text-align: left;">
      <strong>A</strong><strong>pp</strong><strong>menaz</strong><strong>a</strong><strong>s</strong> est&aacute; disponible bajo
      la <em>Licencia P&uacute;blica General de GNU, </em><em>v</em><em>ersi&oacute;n 3</em> (<strong>GPLv3</strong>).
    </p>
    <p style="text-align: left;">
      El contenido de texto est&aacute; licenciado bajo <em>Creative Commons </em>(<strong>CC</strong>) con las condiciones BY-SA
      (Atribuci&oacute;n&ndash;Compartir igual). Los metadatos de las capas asociadas se otorgan bajo CC con las condiciones
      BY-NC-SA (Atribuci&oacute;n-No Comercial-Compartir Igual).
    </p>
    <p>SECCI&Oacute;N 3 - CAMBIOS EN LOS T&Eacute;RMINOS DE SERVICIO</p>
    <p style="text-align: left;">
      Nos reservamos el derecho, a nuestra sola discreci&oacute;n, de actualizar, modificar o reemplazar cualquier parte de estas
      Condiciones del servicio mediante la publicaci&oacute;n de las actualizaciones y los cambios en nuestro sitio
      aplicaci&oacute;n movil.
    </p>
    <p><strong>&nbsp;</strong></p>
    <p style="text-align: center;"><strong>POLITICA DE PRIVACIDAD</strong></p>
    <p>SECCI&Oacute;N 1 - INFORMACI&Oacute;N DEL USUARIO</p>
    <p style="text-align: left;">
      La presente Pol&iacute;tica de Privacidad establece los t&eacute;rminos en que LSIGMA-CIGIR usa y protege la
      informaci&oacute;n que es proporcionada por sus usuarios al momento de utilizar su aplicaci&oacute;n movil. Esta
      compa&ntilde;&iacute;a est&aacute; comprometida con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los
      campos de informaci&oacute;n personal con la cual usted pueda ser identificado, lo hacemos asegurando que solo se
      emplear&aacute; de acuerdo con los t&eacute;rminos de este documento. Sin embargo, esta Pol&iacute;tica de Privacidad puede
      cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta p&aacute;gina
      para asegurarse que est&aacute; de acuerdo con dichos cambios.
    </p>
    <p>SECCI&Oacute;N 2 - USO DE LA INFORMACI&Oacute;N RECOGIDA</p>
    <p style="text-align: left;">
      Nuestra aplicaci&oacute;n m&oacute;vil emplea la informaci&oacute;n con el fin de proporcionar el mejor servicio posible,
      particularmente para mantener un registro de usuarios, y mejorar nuestro servicio. LSIGMA-CIGIR est&aacute; altamente
      comprometido para cumplir con el compromiso de mantener su informaci&oacute;n segura. Usamos los sistemas m&aacute;s
      avanzados y los actualizamos constantemente para asegurarnos que no exista ning&uacute;n acceso no autorizado.
    </p>
    <p>SECCI&Oacute;N 3 - SERVICIOS DE LOCALIZACI&Oacute;N</p>
    <p style="text-align: left;">
      Para prestar servicios de localizaci&oacute;n Appmenazas V.1.0 podr&aacute; solicitar su ubicaci&oacute;n geogr&aacute;fica
      en tiempo real de su dispositivo. Estos datos de localizaci&oacute;n se recogen de manera an&oacute;nima de forma que no
      pueden utilizarse para identificarlo personalmente, y son usados para mejorar la experiencia de usuario.
    </p>
    <p>SECCI&Oacute;N 4 - ENLACES A TERCEROS</p>
    <p style="text-align: left;">
      Esta aplicaci&oacute;n m&oacute;vil pudiera contener enlaces a otros sitios que pudieran ser de su inter&eacute;s. Una vez
      que usted de clic en estos enlaces y abandone nuestra aplicaci&oacute;n, ya no tenemos control sobre al sitio al que es
      redirigido y por lo tanto no somos responsables de los t&eacute;rminos o privacidad ni de la protecci&oacute;n de sus datos
      en esos otros sitios terceros.
    </p>
  </div>
</ion-content>
