ion-header {
  color: white;
  --background: #d40000;
  ion-item {
    color: white;
    --background: #d40000;
  }
}
.user_profile {
  display: inline-block;
  width: 90px;
  height: 90px;

  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  background-image: url('http://placehold.it/400x200');
}

.user_data {
  margin: 20px;
}

.separator {
  margin-top: 30px;
  border-bottom: 2px;
  border-bottom-color: black;
}
