<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <div class="user_data">
          <ion-toolbar>
            <div class="user_profile">
            </div>
          </ion-toolbar>
        </div>
        <div class="user_data">
          <div>
            {{userName}}
          </div>
          <div>
            {{email}}
          </div>
        </div>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item (click)="share()">
            <ion-icon slot="start" name="share"></ion-icon>
            <ion-label>
              Compartir
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>