.leaflet-control-layers-toggle {
    background-image: url('/assets/icon/flood-on.svg') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
