p {
  font-size: 0.8em;
  color: #626262;
}

ion-label, .select-text {
  margin-left: 10px;
}

.invalid {
  border: 1px solid #ea6153;
  margin-top: 10px;
}

.invalid-email {
  border: 1px solid #ea6153;
  margin-top: 10px;
}

.separator {
  margin-top: 40px;
  border-bottom: 2px;
  border-bottom-color: black;
}

.reduce-font-size {
  font-size: 80%;
}