<ion-content>
  <div class="logo">
    <img src="/assets/logo.png" style="height: 100px;" />
  </div>
  <div>
    <div style="text-align: center;"><h4>¡Bienvenido(a) a Appmenazas!</h4></div>
    <p>
      Gracias por utilizar Appmenazas V1.0, una aplicación creada con la intención de socializar información existente sobre los
      distintos tipos y niveles de exposición a amenazas de origen natural, que han sido identificados para diversas ciudades
      venezolanas.
    </p>
    <p>
      Con esta herramienta usted podrá conocer datos disponibles sobre el nivel de exposición específico a diversos tipos de
      amenazas de origen natural, que han sido estimados para cada lugar de su ciudad, así como algunas recomendaciones generales
      que podrían minimizar sus niveles de riesgo en ese respectivo lugar.
    </p>
    <div style="text-align: center;"><h4>Descarga de responsabilidad</h4></div>
    <p>
      Todos los datos que son presentados en los distintos módulos de esta aplicación son extraídos de estudios rigurosos, que han
      sido publicados por investigadores y especialistas destacados de distintas disciplinas, vinculadas a la caracterización de
      escenarios de riesgos socionaturales urbanos. Estas fuentes originales pueden ser descargadas desde la aplicación.
    </p>
    <p>
      Los datos generales y las recomendaciones que se brindan para cada espacio urbano que es consultado en esta herramienta, deben
      ser asumidos como indicaciones generales y NO OFICIALES, puesto que han sido elaborados exclusivamente con intención
      divulgativa.
    </p>
    <p>
      En ningún caso los datos que aquí se suministran sobre una localización urbana particular deben ser asumidos como sustitutos
      validos de los estudios técnicos detallados, que pudieran requerirse para caracterizar profesional e íntegramente los niveles
      de amenaza/riesgos establecidos para dicho espacio.
    </p>
    <p>
      Se declara en función de lo anterior que, el equipo de desarrollo de Appmenazas 1.0 se exime de toda responsabilidad que
      pudiera devenir producto de aseveraciones hechas en esta aplicación que contravengan total o parcialmente opiniones de
      terceros.
    </p>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="full" color="primary" (click)="login()">Iniciar sesión</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="full" color="danger" (click)="register()">Crear cuenta</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
