.logo {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: nowrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

p {
  margin: 15px;
  padding: 5px;
  font-size: small;
  text-align: justify;
}
