<ion-content>
  <div class="content">
    <div class="legend vertical">
      <div class="legend-info">
        <div>
          <label>Leyenda:</label>
        </div>
      </div>
      <div class="legend-details">
        <label>Hidrografía</label>
        <div class="legend-item">
          <div class="legend-item__line"></div>
          <span class="legend-item__text">Quebrada</span>
        </div>
        <div class="legend-item">
          <div class="legend-item__line2"></div>
          <span class="legend-item__text">Río</span>
        </div>
        <label>Zona afectada por aludes torrenciales</label>
        <div class="legend-item">
          <div class="legend-item__icon1"></div>
          <span class="legend-item__text">Alta</span>
        </div>
        <div class="legend-item">
          <div class="legend-item__icon2"></div>
          <span class="legend-item__text">Media</span>
        </div>
        <div class="legend-item">
          <div class="legend-item__icon3"></div>
          <span class="legend-item__text">Baja</span>
        </div>
        <div class="legend-item">
          <div class="legend-item__icon4"></div>
          <span class="legend-item__text">Nula</span>
        </div>
      </div>
      <div class="ellipsis-menu"></div>
    </div>
  </div>
</ion-content>
