<ion-header>
  <ion-toolbar mode="ios">
    <ion-title> <img src="/assets/logo2.png" style="height: 32px; padding-right: 20px;" /> {{this.actualCity.name}} </ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="legendPopover($event)">
      <ion-button> <img style="max-width: 24px;" src="/assets/legend.svg" /> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab vertical="center" horizontal="end">
    <ion-fab-button color="medium" size="small" translucent="true">
      <ion-icon color="light" name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button
        *ngIf="actualThreatName !== ''"
        color="danger"
        size="small"
        translucent="true"
        data-desc="Más información"
        (click)="clickMoreInfo()"
      >
        <ion-icon color="light" name="information-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-button
        *ngIf="actualThreatName !== ''"
        color="danger"
        size="small"
        data-desc="Recomendaciones"
        translucent="true"
        (click)="clickRecomendations()"
      >
        <ion-icon name="list"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" size="small" translucent="true" data-desc="Descripción" (click)="clickInfo()">
        <ion-icon name="book"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <div id="mapCityId" style="width: 100%; height: 100%">
  </div>
</ion-content>
<ion-footer>
  <div id="threats-toolbar" class="toolbar">
    <button class="toolbar-element" type="button" (click)="loadThreat('Aludes')">
      <img id="Aludes" class="icon" src="/assets/icon/Aludes_gris.svg" />
      <div class="label">Aludes torrenciales</div>
    </button>
    <button class="toolbar-element" type="button" (click)="loadThreat('Inundaciones')">
      <img id="Inundaciones" class="icon" src="/assets/icon/Inundaciones_gris.svg" />
      <div class="label">Inundaciones</div>
    </button>
    <button class="toolbar-element" type="button" (click)="loadThreat('Sismicidad')">
      <img id="Sismicidad" class="icon" src="/assets/icon/Sismicidad_gris.svg" />
      <div class="label">Sismicidad</div>
    </button>
    <button class="toolbar-element" type="button" (click)="loadThreat('Tsunami')">
      <img id="Tsunami" class="icon" src="/assets/icon/Tsunami_gris.svg" />
      <div class="label">Tsunami</div>
    </button>
    <button class="toolbar-element" type="button" (click)="loadThreat('Mov. en masa')">
      <img id="Mov. en masa" class="icon" src="/assets/icon/Mov. en masa_gris.svg" />
      <div class="label">Movimientos en masa</div>
    </button>
  </div>
</ion-footer>
