ion-toolbar {
  color: white;
  --background: #d40000;
  ion-title {
    font-size: large;
  }
}

p {
  font-size: 0.8em;
  color: #d2d2d2;
}

ion-label,
.select-text {
  margin-left: 10px;
}

.invalid {
  border: 1px solid #ea6153;
}

.separator {
  margin-top: 30px;
  border-bottom: 2px;
  border-bottom-color: black;
}
