<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Amenaz@s</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="notifications"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar autocomplete='on' placeholder="Buscar lugar o dirección" debounce="500" (ionInput)="getPlaces($event)"></ion-searchbar>
        <ion-list *ngIf="arePlacesAvailable">
            <ion-item *ngFor="let place of mappingService.searchPlaces"><button (click)="clickPlace(place)"> {{ place.label }} </button></ion-item>
        </ion-list>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div id="mapThreadId" style="width: 100%; height: 100%"></div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="information-circle"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon slot="icon-only" name="help-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
